# pandoc
README.md.pdf
README.pdf
readme.md.pdf
readme.pdf
*.md.pdf
*.csv.md
*.csv.pdf
*.csv.md.pdf

# graphviz
*.dot.pdf
*.dot.png
*.gv.pdf
*.gv.png

# latex
*.aux
*.bbl
*.blg
*-blx.bib
*.fdb_latexmk
*.fls
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc0
*.out
*.run.xml
*.synctex.gz
*.toc
*.xmpi

# python
__pycache__/

# npm
.DS_Store
node_modules
/dist
/tests/e2e/reports/
selenium-debug.log
# local env files
.env.local
.env.*.local
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# php
.phpunit.result.cache
composer.lock
vendor/

# vim
tags