# Aliases
# =====================
# CD
alias cphp='cd ~/dev/php'
alias cpy='cd ~/dev/python'
alias cfront='cd ~/dev/front/'
alias ctex='cd ~/dev/tex'
alias cgh='cd ~/go/src/github.com/felipedacs'
alias cgl='cd ~/go/src/gitlab.com/felipedacs'
alias cdf='cd ~/dev/dotfiles ; l'
alias cv='cd ~/dev/tex/cv'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# GIT
alias g="git"
alias gfr='git fetch --all ; git reset --hard origin/master'
alias gop='xdg-open $(git config --get remote.origin.url)'
alias gi="cp ~/dev/dotfiles/cpfiles/UNLICENSE UNLICENSE;(echo -n '# '; pwd | rev | cut -d '/' -f1 | rev)>README.md;cp ~/dev/dotfiles/cpfiles/.gitignore .gitignore; echo don\'t forget to use git init or git flow init and create branch master"

# LS
alias ll='ls -alF'
alias l='ls -XF --color'
# Scrot
alias sct='scrot -s -d 5 -c ~/Imagens/prints/scrot::%Y-%m-%d::%H%M%S.jpg'

# etc
alias op='xdg-open .'
alias n='nvim'
alias e='evince'
alias r='ranger'
