# gitignore do projeto e modelo geral

# Específicos dos dotfiles:
wiki/.local.md
###########################

# pessoal
.neni-*
neni-*

# vim
tags
.ctags
.exrc
_exrc
.vimrc
_vimrc
.vim-*
vim-*
*.rest
.vrc*

# pandoc
README.md.pdf
README.pdf
readme.md.pdf
readme.pdf
*.md.pdf
*.csv.md
*.csv.pdf
*.csv.md.pdf

# graphviz
*.dot.pdf
*.dot.png
*.gv.pdf
*.gv.png

# latex
*.aux
*.bbl
*.blg
*-blx.bib
*.fdb_latexmk
*.fls
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc0
*.out
*.run.xml
*.synctex.gz
*.toc
*.xmpi

# python
__pycache__/

# php
vendor/
env.php
.phpunit.result.cache

# javascript
.DS_Store
node_modules
/dist
/build
/tests/e2e/reports/
selenium-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage

# env files
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea
nbproject/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
