# credits: 
#   https://gist.github.com/stephenturner/d291570e25ee797580a4
#   https://gist.github.com/pksunkara/988716
#   https://github.com/alikins/gitconfig/blob/master/gitconfig
[user]
    name = Felipe Silva
    email = felipe.dacs@gmail.com
    username = nenitf
[core]
    editor = vim
    # excludesfile = ~/dev/dotfiles/cpfiles/git/.gitignore
[init]
    defaultBranch = main
[color]
    ui = true
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[merge]
	tool = vimdiff
[difftool]
    prompt = false
	tool = vimdiff
[push]
    followTags = true
[alias]
    #############
    a = add --all
    ai = add -i
    #############
    # para apagar branch remote => git push origin :branch
    b = branch
    bd = branch -d
    bdd = branch -D
    #############
    c = commit -m
    ca = commit --amend
    ce = commit --amend --no-edit
    cm = commit
    #############
    cl = clone
    # git clb <branch-name> <url>
    clb = clone --single-branch --branch
    #############
    d = diff
    #############
    f = fetch
    fo = fetch origin
    fu = fetch upstream
    #############
    # Para pesquisar commits usar: --grep "palavra"
    l =  log --decorate --graph --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(yellow)%d%Creset '
    ld = log --decorate --graph --abbrev-commit --date=short --pretty=format:'%Cred%h%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset %C(yellow)%d%Creset'
    lg = log --date=format:'%d/%m/%Y %a %H:%M:%S' --decorate --graph --pretty=format:'%Cred%H%Creset %C(yellow)%d%Creset\n%C(bold blue)%an%Creset em %Cgreen%ad%Creset\n\n%C(bold)%s\n%b'
    #############
    m = merge
    ma = merge --abort
    mc = merge --continue
    ms = merge --skip
    #############
    o = checkout
    ob = checkout -b
    oh = checkout -- .
    #############
    #ps = push
    ps = push origin HEAD
    psf = push -f origin HEAD
    #############
    #pl = pull
    pl = pull origin HEAD
    plo = pull origin
    plomm = pull origin master
    plom = pull origin main
    plod = pull origin develop
    #############
    rb = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase --interactive
    rbs = rebase --skip
    rbomm = rebase origin/master
    rbom = rebase origin/main
    rbod = rebase origin/develop
    rbumm = rebase upstream/master
    rbum = rebase upstream/main
    rbud = rebase upstream/develop
    #############
    re = reset
    rh = reset HEAD
    reh = reset --hard
    rem = reset --mixed
    res = reset --soft
    rehh = reset --hard HEAD
    remh = reset --mixed HEAD
    resh = reset --soft HEAD
    #############
    r = remote
    ra = remote add
    rr = remote rm
    rv = remote -v
    rn = remote rename
    rao = remote add origin
    rau = remote add upstream
    rro = remote remove origin
    rru = remote remove upstream
    #############
    s = status
    sb = status -s -b
    #############
    sa = stash apply
    sc = stash clear
    sd = stash drop
    sl = stash list
    ss = stash save --include-untracked
    sw = stash show
    #############
    # para apagar tag remote => git push origin :tag
    t = tag --sort=taggerdate
    td = tag -d
    #############
    # Macros
    commit-guide = !cat ~/dev/dotfiles/modelos/git/.gitcommit
    aliases = !git config -l | grep alias | cut -c 7-
    aula = "!f() { git add -A; git commit -m \":tv: add aula $@\"; }; f"
    release = "!f() { git tag \"$@\"; git push origin HEAD --tags; }; f"
    pr = "!f() { git fetch upstream && rebase upstream/$@; }; f" # git pr main
    of = "!f() { git checkout -b \"feat/$1\"; }; f"
    fetchreset = "!f() { git fetch --all; git reset --hard origin/main; }; f"
    configreset = git config --local credential.helper ""
    ours = "!f() { git checkout --ours $@ && git add $@; }; f"
    theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
[commit]
    # template = ~/.gitcommit

# vim: ft=gitconfig
