snippet #!
#!/usr/bin/env bash
endsnippet

snippet #nenitf
# Autor: Felipe Silva
#	Site: neni.dev
# 	Github: nenitf
#	Gitlab: nenitf
endsnippet

snippet if "if [ condition ]; then; fi"
if [ ${1:condition} ]; then
	${0:${VISUAL}}
fi
{##}
endsnippet
