local M = {}

M.mini = {
  header = {
    enabled = true
  }
}

M.lsp = {
  ensure_servers = {}
}

M.copilot = {
  enabled = false
}

M.clickup = {
  token = "TOKEN",
  user_id = "USER",
  space_id = "SPACE",
  workspace_id = "WORKSPACE",
  filter = {
    statuses = {
      "ready for development",
      "backlog",
      "code review",
      "in development",
    },
  },
}

return M
