# Aliases
# =====================
# CD
alias cphp='cd ~/dev/php'
alias cpy='cd ~/dev/python'
alias cfr='cd ~/dev/front/'
alias ctex='cd ~/dev/tex'
alias cgh='cd ~/go/src/github.com/nenitf'
alias cgl='cd ~/go/src/gitlab.com/nenitf'
alias cdf='cd ~/dev/dotfiles ; l'
alias ccv='cd ~/dev/tex/cv'
alias cv='nvim ~/dev/tex/cv/felipe_silva.tex'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# configfiles
alias cfn='nvim $DF/nvim/.nvimrc'
alias cfnp='nvim $DF/nvim/.nvimrc.plugs'
alias cfa='nvim $DF/bash/.aliases'
alias cfe='nvim $DF/bash/.exports'
alias cfr='nvim $DF/ranger/rc.conf'
alias cfi='nvim $DF/i3/config'
alias cfib='nvim $DF/i3/.i3blocks.conf'
alias cfis='cd $DF/i3/scripts'

# GIT
alias g="git"
alias gfr='git fetch --all ; git reset --hard origin/master'
alias gop='xdg-open $(git config --get remote.origin.url)'
alias gi="cp ~/dev/dotfiles/cpfiles/UNLICENSE UNLICENSE;(echo -n '# '; pwd | rev | cut -d '/' -f1 | rev)>README.md;cp ~/dev/dotfiles/cpfiles/.gitignore .gitignore; echo don\'t forget to use git init or git flow init and create branch master"

# LS
alias ll='ls -alF --color'
alias l='ls -XF --color'
# Scrot
alias sct='scrot -s -d 5 -c ~/Imagens/prints/scrot::%Y-%m-%d::%H%M%S.jpg'

# etc
alias op='xdg-open .'
alias n='nvim'
alias e='evince'
alias r='ranger'
