# Functions
# =====================
# USE: phps 8080
function phps (){
    php -S localhost:$1
}

# USE: mk folder
function mk (){
    mkdir $1 ; cd $1
}

# make install não aceita link simbolico, portanto deve ser feita uma copia do arquivo config
function ats (){
    cp -f $DF/st/config.h $DF/suckless/st/config.h
    cd $DF/suckless/st
    sudo make install clean
    echo "st atualizado"

    cp -f $DF/dmenu/config.h $DF/suckless/dmenu/config.h
    cd $DF/suckless/dmenu
    sudo make install clean
    echo "dmenu atualizado"

    cp -f $DF/dwm/config.h $DF/suckless/dwm/config.h
    cd $DF/suckless/dwm
    sudo make install clean
    echo "dwm atualizado"
}

# USE: extract imazip.zip
function extract () {
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)  tar xjf $1      ;;
      *.tar.gz)   tar xzf $1      ;;
      *.bz2)      bunzip2 $1      ;;
      *.rar)      rar x $1        ;;
      *.gz)       gunzip $1       ;;
      *.tar)      tar xf $1       ;;
      *.tbz2)     tar xjf $1      ;;
      *.tgz)      tar xzf $1      ;;
      *.zip)      unzip $1        ;;
      *.Z)        uncompress $1   ;;
      *)          echo "'$1' cannot be extracted via extract()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}
